.asteroidContainer {
    padding: 0 24px 40px 0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}

.toDestroy {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8px;
    width: 158px;
    height: 48px;
    background: #186DD6;
    border-radius: 24px !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #FFFFFF !important;
}

.toDestroyAll {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 48px;
    background: #186DD6;
    border-radius: 24px !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #FFFFFF !important;
    text-transform: uppercase;
}

.dangerRating {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.dangerRating span {
    font-weight: 600;
}

.asteroidParams {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    overflow-x: hidden;
}

.asteroidParams li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.asteroidParams li span:last-child {
    order: 3;
}

.asteroidParams li::before {
    content: '';
    border-bottom: 1px dashed #000;
    align-self: flex-end;
    flex-grow: 1;
    height: 1em;
    order: 2;
    margin: 0 3px;
    margin-bottom: 7px;
}

.asteroidName {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #000000;
}

.dinosaur {
    position: absolute;
    bottom: -40px;
    left: 16px;
    z-index: 999;
}

.dontDangerAsteroid {
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
}

.dangerAsteroid {
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
}

.asteroidImage {
    display: flex;
    position: relative;
    align-items: baseline;
    justify-content: center;
    min-height: 200px;

}

.asteroidImage img {
    position: absolute;
}

.bottom0{
    bottom: 0;
}
.bottom25{
    bottom: 25%;
}

@media all and (max-width: 996px) {
    .asteroidImage {
        min-height: 145px;
        justify-content: flex-start;
    }

    .asteroidImage img {
        left: 27px;
    }

    .dinosaur {
        left: unset;
        right: 8px;
        transform: rotateY(180deg);
    }

    .dinosaur img {
        max-width: 35px;
    }

    .asteroidContainer {
        padding: 0 0 20px 0;
        background: #fff;
    }

    .asteroidName {
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px 8px;
    }

    .dangerAsteroid .asteroidImage, .dangerAsteroid .asteroidName {
        background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
    }
    .dontDangerAsteroid .asteroidImage, .dontDangerAsteroid .asteroidName {
        background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
    }
}
